#*
 * This software is licensed under the Apache 2 license, quoted below.
 *
 * Copyright 2010 Julien Eluard
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 *     [http://www.apache.org/licenses/LICENSE-2.0]
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *#

What is this?

    This simple command line tool looks at Java JAR files and determine inspect API changes.

Diff

    Dumps all changes between two JARs on standard output.

-----------------------------
% java -jar target/semantic-versioning-${project.version}.jar previousJar currentJar (includes) (excludes)
Class org.project.MyClass
 Added Class 
Class org.project.MyClass2
 Added Method method1
 Removed Field field1
 Changed Field field2 removed: final

-----------------------------

Check

    Checks compatibility type between two JARs.

-----------------------------
% java -jar target/semantic-versioning-${project.version}.jar previousJar currentJar (includes) (excludes)
BACKWARD_COMPATIBLE_IMPLEMENTER
-----------------------------

Infer

    Infers JAR version based on a previously versioned JAR.

-----------------------------
% java -jar target/semantic-versioning-${project.version}.jar previousVersion previousJar currentJar (includes) (excludes)
1.0.0
-----------------------------

Validate

    Validates JAR version based on a previously versioned JAR.

-----------------------------
% java -jar target/semantic-versioning-${project.version}.jar previousVersion previousJar currentVersion currentJar (includes) (excludes)
true
-----------------------------